<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "About" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h3>What is Vending Machine Management System</h3>
          <p>
            <strong> Machine Management System </strong> is a Management System for your
            Vending Machines. It can show you status of each and every machine
            and the ability to restart the machine whenever it is needed. This
            System can also keep track of the Activities of each machine on its
            current Action. This System also keeps track of the Sales Order of
            each vending machine.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
